<div class="container mt-4">
  <div class="text-center text-3xl"><h1><%= title %></h1></div>
  <div>
    <%= form_with model: blog_post, class: 'max-w-lg mx-auto my-8' do |form| %>
      <div class="mb-4">
        <%= form.label :status, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.select :status, Visible::VALID_STATUSES, { selected: blog_post.status || 'public' }, class: 'form-select block w-full mt-1' %>
      </div>

      <div class="mb-4">
        <%= form.label :title, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.text_field :title, class: 'form-input block w-full mt-1' %>
        <% blog_post.errors.full_messages_for(:title).each do |message| %>
          <small class="text-red-500"><%= message %></small>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.label :body, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.text_area :body, class: 'form-textarea block w-full mt-1' %><br>
        <% blog_post.errors.full_messages_for(:body).each do |message| %>
          <small class="text-red-500"><%= message %></small>
        <% end %>
      </div>

      <div class="mb-4">
        <%= form.submit 'Submit', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue active:bg-blue-800' %>
      </div>
    <% end %>
  </div>

</div>

